    <div class="footer_table">
      <nav id="global-footer-navi">
        <p>&copy; 2021/01/22 ○○ xxxxxxxxxxxx.</p>
        <div>
          お問い合わせ先： kz.sincerity@gmail.com
        </div>
      </nav>

    </div>