
<div class ="container-fluid">
<div class="main-container">
    <h6>このページはサンプルとして作成されたものです</h6>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


</div>




<div>
    <h3 id="about_me">Ohana</h3>
    <p>オハナ（ハワイ語:Ohana)は、ハワイ語で広義の『家族』に相当する概念</p>
    <p>オハナは、『愛』ともいうべき『絆』で結ばれた人のことをいう言葉・・・</p>

    
    ここにお店情報を表示する。画像を使って紹介する<br><br><br><br><br>
    住所	〒546-0042 大阪府大阪市東住吉区西今川4-23-12		<br>
    アクセス	大阪市営谷町線 駒川中野駅 徒歩2分		<br>
<br><br><br><br>

<%#カレンダー%>
<div class="calendarBox">
    <div class="inner cf">
        <div class="calendarTextBox">
            <h3 class="sub_tit">CALENDAR</h3>

            <p class="colorsText">
                <span class="holidayText">
                    <span>&#9632;</span>
                    定休日　毎週月曜日<br>
                </span>
                <span class="lastText">
                    <span>&#9632;</span>
                    最終受付22:00<br>
                </span>
                <span class="todayText">
                    <span>&#9632;</span>
                    平日	12：00〜23：00	  <br>
                    土日祝	8：30〜23：00	    <br>
                </span>
            </p>
            <p class="lastTime">
                9：30 ～ 18：30（最終受付）
                <em>※ 第2、第4金曜日は受付19：00まで</em>
            </p>
            <dl class="holiday_dl">
                <dt>［ 定休日 ］</dt>
                <dd>毎週月曜日</dd>
            </dl>
        </div>

        <ul class="calendarTable cf">
            <li id="business-calendar-3" class="widget widget_business_calendar">
                <h2 class="widgettitle">営業日カレンダー</h2>
                <div class="business-calendar-box">
                    <div>

                        <table class="business-calendar bc76230491 calendar">
                            <caption>2020年9月</caption>
                            <thead>
                                <tr>
                                    <th>日</th>
                                    <th>月</th>
                                    <th>火</th>
                                    <th>水</th>
                                    <th>木</th>
                                    <th>金</th>
                                    <th>土</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td id="day20200901" class="tuesday before">1</td>
                                    <td id="day20200902" class="wednesday before">2</td>
                                    <td id="day20200903" class="thursday before">3</td>
                                    <td id="day20200904" class="friday before">4</td>
                                    <td id="day20200905" class="saturday before">5</td>
                                </tr>
                                <tr>
                                    <td id="day20200906" class="sunday before">6</td>
                                    <td id="day20200907" class="monday before attr0">7</td>
                                    <td id="day20200908" class="tuesday before ">8</td>
                                    <td id="day20200909" class="wednesday before ">9</td>
                                    <td id="day20200910" class="thursday before">10</td>
                                    <td id="day20200911" class="friday before attr1">11</td>
                                    <td id="day20200912" class="saturday before">12</td>
                                </tr>
                                <tr>
                                    <td id="day20200913" class="sunday before">13</td>
                                    <td id="day20200914" class="monday before attr0">14</td>
                                    <td id="day20200915" class="tuesday before ">15</td>
                                    <td id="day20200916" class="wednesday before">16</td>
                                    <td id="day20200917" class="thursday before">17</td>
                                    <td id="day20200918" class="friday before">18</td>
                                    <td id="day20200919" class="saturday before">19</td>
                                </tr>
                                <tr>
                                    <td id="day20200920" class="sunday after today">20</td>
                                    <td id="day20200921" class="monday after attr0">21</td>
                                    <td id="day20200922" class="tuesday after">22</td>
                                    <td id="day20200923" class="wednesday after">23</td>
                                    <td id="day20200924" class="thursday after">24</td>
                                    <td id="day20200925" class="friday after attr1">25</td>
                                    <td id="day20200926" class="saturday after">26</td>
                                </tr>
                                <tr>
                                    <td id="day20200927" class="sunday after">27</td>
                                    <td id="day20200928" class="monday after attr0">28</td>
                                    <td id="day20200929" class="tuesday after">29</td>
                                    <td id="day20200930" class="wednesday after">30</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                        <script type="text/javascript">
                        // <![CDATA[
                        jQuery(document).ready(function() {
                            jQuery(".bc76230491 a").tooltip({
                                track: true,
                                delay: 0,
                                showURL: false
                            });
                        });
                        // ]]>
                        </script>
                    </div>
                    <div>

                        <table class="business-calendar bc1540600188 calendar">
                            <caption>2020年10月</caption>
                            <thead>
                                <tr>
                                    <th>日</th>
                                    <th>月</th>
                                    <th>火</th>
                                    <th>水</th>
                                    <th>木</th>
                                    <th>金</th>
                                    <th>土</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td id="day20201001" class="thursday after">1</td>
                                    <td id="day20201002" class="friday after">2</td>
                                    <td id="day20201003" class="saturday after">3</td>
                                </tr>
                                <tr>
                                    <td id="day20201004" class="sunday after">4</td>
                                    <td id="day20201005" class="monday after attr0">5</td>
                                    <td id="day20201006" class="tuesday after attr0">6</td>
                                    <td id="day20201007" class="wednesday after">7</td>
                                    <td id="day20201008" class="thursday after">8</td>
                                    <td id="day20201009" class="friday after attr1">9</td>
                                    <td id="day20201010" class="saturday after">10</td>
                                </tr>
                                <tr>
                                    <td id="day20201011" class="sunday after">11</td>
                                    <td id="day20201012" class="monday after attr0">12</td>
                                    <td id="day20201013" class="tuesday after">13</td>
                                    <td id="day20201014" class="wednesday after">14</td>
                                    <td id="day20201015" class="thursday after">15</td>
                                    <td id="day20201016" class="friday after">16</td>
                                    <td id="day20201017" class="saturday after">17</td>
                                </tr>
                                <tr>
                                    <td id="day20201018" class="sunday after ">18</td>
                                    <td id="day20201019" class="monday after attr0">19</td>
                                    <td id="day20201020" class="tuesday after attr0">20</td>
                                    <td id="day20201021" class="wednesday after attr0">21</td>
                                    <td id="day20201022" class="thursday after">22</td>
                                    <td id="day20201023" class="friday after attr1">23</td>
                                    <td id="day20201024" class="saturday after">24</td>
                                </tr>
                                <tr>
                                    <td id="day20201025" class="sunday after">25</td>
                                    <td id="day20201026" class="monday after attr0">26</td>
                                    <td id="day20201027" class="tuesday after">27</td>
                                    <td id="day20201028" class="wednesday after">28</td>
                                    <td id="day20201029" class="thursday after">29</td>
                                    <td id="day20201030" class="friday after">30</td>
                                    <td id="day20201031" class="saturday after">31</td>
                                </tr>

                            </tbody>
                        </table>
                        <script type="text/javascript">
                        // <![CDATA[
                        jQuery(document).ready(function() {
                            jQuery(".bc1540600188 a").tooltip({
                                track: true,
                                delay: 0,
                                showURL: false
                            });
                        });
                        // ]]>
                        </script>
                    </div>
                    <ul class="business-calendar-attribute">
                        <li class="attr0">定休日</li>
                        <li class="attr1">最終受付19:00</li>
                        <li class="attr2">本日</li>
                    </ul>
                    <div class="business-calendar-desc"></div>
                </div>
            </li>
        </ul>
    </div>
    <br><br><br><br><br><br>
</div>

<div>
</div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


<br>
<h6 id="menu">メニュー</h6>
  <div>
    <p>ここにカットなどのメニューを表示する メニューからリンクで予約へ進めるようにす</p>
  </div>

				
コース種類	コース名	サービス内容	時間（分）	価格（円）
セットメニュー	スピードコース	カット、シャンプー、ブロー込み	90	2750<br>
ヘアカット	カットコース【エステ・パック付き】	カット、エステ・パック、顔剃り、シャンプー、ブロー込み	90	3960<br>
ヘアカット	シルバーコース(60歳以上の方)	カット、顔剃り、シャンプー、ブロー込み	90	2200<br>
ヘアカラー	カラーコース【エステ・パック付き】	カット、カラー、エステ・パック、顔剃り、シャンプー、ブロー込み	120	7150<br>
ヘアカラー	カラーのみ	カラー	120	3300<br>
パーマ	パーマコース【エステ・パック付き】	カット、パーマ、エステ・パック、顔剃り、シャンプー、ブロー込み	150	8800<br>
トリートメント	スカルプケア	頭皮の皮脂の除去、マイクロスコープカメラで育毛診断付き	10	770<br>
その他	シャンプー・ブロー		30	1100<br>
その他	レディースシェービング【エステ・パック付き】		60	2860<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <button type="button" class="btn btn-primary btn-lg">予約</button>
    <br>  
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>  <br>
    <br>
    <br>
    <br>
    <br>
    <h6>お知らせ</h6>
  <div>
    <p id="news">お店からのお知らせを掲載</p>
  </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h6>ここに地図表示する</h6>








 <div id="footer">
        <p>&copy; 20xx ○○ xxxxxxxxxxxx.</p>
</div>
</div>