
<div class ="container-fluid">
<div class="main-container">
    <h6>このページはサンプルとして作成されたものです</h6>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


</div>



    <%#お店の紹介　コメント%>
<div>
    <h3 id="about_me">Ohana</h3>
    <p>オハナ（ハワイ語:Ohana)は、ハワイ語で広義の『家族』に相当する概念</p>
    <p>オハナは、『愛』ともいうべき『絆』で結ばれた人のことをいう言葉・・・</p>
</div>





    <p><span>ここにお店情報を表示する。画像を使って紹介する</span></p><br><br><br><br><br>
    <%#お店の紹介画像%>

<div class="image_container">
    <%= image_tag "ohana_pic01.jpg", alt: "お店画像", class: "image", width: "200px"  %>
    <%= image_tag "ohana_pic02.jpg", alt: "お店画像", class: "image", width: "220px"  %>
    <%= image_tag "ohana_pic02-2.jpg", alt: "お店画像", class: "image", width: "200px" %>
    <%= image_tag "ohana_pic03.jpg", alt: "お店画像", class: "image", height: "150px" %>
</div>

<br><br><br><br><br>


<%#地図表示%>
    <iframe src =https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.3180907791007!2d135.53251365131595!3d34.621401094871835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000de8f873e4b1d%3A0xb9b56e4cb201c27b!2z44CSNTQ2LTAwNDIg5aSn6Ziq5bqc5aSn6Ziq5biC5p2x5L2P5ZCJ5Yy66KW_5LuK5bed77yU5LiB55uu77yS77yT4oiS77yR77yS!5e0!3m2!1sja!2sjp!4v1600989074507!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>"
    <br><br>
        住所	〒546-0042 大阪府大阪市東住吉区西今川4-23-12		<br>
        アクセス	大阪市営谷町線 駒川中野駅 徒歩2分		<br>

<br><br><br><br>

<%#カレンダー%>
<div class="calendarBox">
    <div class="inner cf">
        <div class="calendarTextBox">
            <h3 class="sub_tit">CALENDAR</h3>

            <p class="colorsText">
                <span class="holidayText">
                    <span>&#9632;</span>
                    定休日　毎週月曜日<br>
                </span>
                <span class="lastText">
                    <span>&#9632;</span>
                    最終受付22:00<br>
                </span>
                <span class="todayText">
                    <span>&#9632;</span>
                    平日	12：00〜23：00	  <br>
                    土日祝	8：30〜23：00	    <br>
                </span>
            </p>
            <p class="lastTime">
                <em>※ 土日祝は8時30分から営業しております</em>
            </p>
            <dl class="holiday_dl">
                <dt>［ 定休日 ］</dt>
                <dd>毎週月曜日</dd>
            </dl>
        </div>

        <ul class="calendarTable cf">
            <li id="business-calendar-3" class="widget widget_business_calendar">
                <h2 class="widgettitle">営業日カレンダー</h2>
                <div class="business-calendar-box">
                    <div>

                        <table class="business-calendar bc76230491 calendar">
                            <caption>2020年9月</caption>
                            <thead>
                                <tr>
                                    <th>日</th>
                                    <th>月</th>
                                    <th>火</th>
                                    <th>水</th>
                                    <th>木</th>
                                    <th>金</th>
                                    <th>土</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td id="day20200901" class="tuesday before">1</td>
                                    <td id="day20200902" class="wednesday before">2</td>
                                    <td id="day20200903" class="thursday before">3</td>
                                    <td id="day20200904" class="friday before">4</td>
                                    <td id="day20200905" class="saturday before">5</td>
                                </tr>
                                <tr>
                                    <td id="day20200906" class="sunday before">6</td>
                                    <td id="day20200907" class="monday before attr0">7</td>
                                    <td id="day20200908" class="tuesday before ">8</td>
                                    <td id="day20200909" class="wednesday before ">9</td>
                                    <td id="day20200910" class="thursday before">10</td>
                                    <td id="day20200911" class="friday before ß">11</td>
                                    <td id="day20200912" class="saturday before">12</td>
                                </tr>
                                <tr>
                                    <td id="day20200913" class="sunday before">13</td>
                                    <td id="day20200914" class="monday before attr0">14</td>
                                    <td id="day20200915" class="tuesday before ">15</td>
                                    <td id="day20200916" class="wednesday before">16</td>
                                    <td id="day20200917" class="thursday before">17</td>
                                    <td id="day20200918" class="friday before">18</td>
                                    <td id="day20200919" class="saturday before">19</td>
                                </tr>
                                <tr>
                                    <td id="day20200920" class="sunday before">20</td>
                                    <td id="day20200921" class="monday before attr0">21</td>
                                    <td id="day20200922" class="tuesday before">22</td>
                                    <td id="day20200923" class="wednesday before">23</td>
                                    <td id="day20200924" class="thursday before">24</td>
                                    <td id="day20200925" class="friday before ">25</td>
                                    <td id="day20200926" class="saturday before">26</td>
                                </tr>
                                <tr>
                                    <td id="day20200927" class="sunday today">27</td>
                                    <td id="day20200928" class="monday after attr0">28</td>
                                    <td id="day20200929" class="tuesday after">29</td>
                                    <td id="day20200930" class="wednesday after">30</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                        <script type="text/javascript">
                        // <![CDATA[
                        jQuery(document).ready(function() {
                            jQuery(".bc76230491 a").tooltip({
                                track: true,
                                delay: 0,
                                showURL: false
                            });
                        });
                        // ]]>
                        </script>
                    </div>
                    <div>

                        <table class="business-calendar bc1540600188 calendar">
                            <caption>2020年10月</caption>
                            <thead>
                                <tr>
                                    <th>日</th>
                                    <th>月</th>
                                    <th>火</th>
                                    <th>水</th>
                                    <th>木</th>
                                    <th>金</th>
                                    <th>土</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td id="day20201001" class="thursday after">1</td>
                                    <td id="day20201002" class="friday after">2</td>
                                    <td id="day20201003" class="saturday after">3</td>
                                </tr>
                                <tr>
                                    <td id="day20201004" class="sunday after">4</td>
                                    <td id="day20201005" class="monday after attr0">5</td>
                                    <td id="day20201006" class="tuesday after ">6</td>
                                    <td id="day20201007" class="wednesday after">7</td>
                                    <td id="day20201008" class="thursday after">8</td>
                                    <td id="day20201009" class="friday after ">9</td>
                                    <td id="day20201010" class="saturday after">10</td>
                                </tr>
                                <tr>
                                    <td id="day20201011" class="sunday after">11</td>
                                    <td id="day20201012" class="monday after attr0">12</td>
                                    <td id="day20201013" class="tuesday after">13</td>
                                    <td id="day20201014" class="wednesday after">14</td>
                                    <td id="day20201015" class="thursday after">15</td>
                                    <td id="day20201016" class="friday after">16</td>
                                    <td id="day20201017" class="saturday after">17</td>
                                </tr>
                                <tr>
                                    <td id="day20201018" class="sunday after ">18</td>
                                    <td id="day20201019" class="monday after attr0 ">19</td>
                                    <td id="day20201020" class="tuesday after ">20</td>
                                    <td id="day20201021" class="wednesday after ">21</td>
                                    <td id="day20201022" class="thursday after">22</td>
                                    <td id="day20201023" class="friday after ">23</td>
                                    <td id="day20201024" class="saturday after">24</td>
                                </tr>
                                <tr>
                                    <td id="day20201025" class="sunday after">25</td>
                                    <td id="day20201026" class="monday after attr0">26</td>
                                    <td id="day20201027" class="tuesday after">27</td>
                                    <td id="day20201028" class="wednesday after">28</td>
                                    <td id="day20201029" class="thursday after">29</td>
                                    <td id="day20201030" class="friday after">30</td>
                                    <td id="day20201031" class="saturday after">31</td>
                                </tr>

                            </tbody>
                        </table>
                        <script type="text/javascript">
                        // <![CDATA[
                        jQuery(document).ready(function() {
                            jQuery(".bc1540600188 a").tooltip({
                                track: true,
                                delay: 0,
                                showURL: false
                            });
                        });
                        // ]]>
                        </script>
                    </div>
                    <ul class="business-calendar-attribute">
                        <li class="attr0">定休日</li>
                        <li class="attr1">最終受付19:00</li>
                        <li class="attr2">本日</li>
                    </ul>
                    <div class="business-calendar-desc"></div>
                </div>
            </li>
        </ul>
    </div>
    <br><br><br><br><br><br>
</div>
<%#ここまでカレンダー%>

<div>
</div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


<br>
<h6 id="menu">メニュー</h6>
  <div>
    <p>ここにカットなどのメニューを表示する メニューからリンクで予約へ進めるようにす</p>
  </div>

<%#メニューコンテナー%>

		<div class="coupon-inner" >
			<div class="coupon-date">
				<table class="tacoupon" >
										<tr>
						<th class="category" colspan="3">
							<span>カット</span><span>エステ・パック</span><span>顔剃り</span><span>シャンプー・ブロー</span>
                        </th>
					</tr>
					<tr>
						<th class="iconth">
							<div class="icon">
								<p class="blue">
									再来								</p>
							</div><!-- icon -->
						</th>
						<th>ヘアカット カットコース【エステ・パック付き】カット、エステ・パック、顔剃り、シャンプー、ブロー込み (約90分）</th>
						<th class="mone">
							&yen;3,960
						</th>
					</tr>
					<tr>
						<td colspan="3">■コースの説明をここに記載する◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆</td>
					</tr>

				</table><!-- tacoupon -->
			</div><!-- coupon-date -->
			    <div class="coupon-btn">
				    <div class="coupon-btn-inner">
                         <a href="#" class="btn btn-info">メニューを追加して予約</a>
                    </div><!-- coupon-btn-inner -->
			</div><!-- coupon-button -->
		</div><!-- coupon-inner -->


		<div class="coupon-inner" >
			<div class="coupon-date">
				<table class="tacoupon" >
										<tr>
						<th class="category" colspan="3">
							<span>カット</span><span>シャンプー・ブロー</span>
                        </th>
					</tr>
					<tr>
						<th class="iconth">
							<div class="icon">
								<p class="blue">
									再来								</p>
							</div><!-- icon -->
						</th>
						<th>【スピードコース】カット＋シャンプー＋ブロー(約60分）</th>
						<th class="mone">
							&yen;2,750
						</th>
					</tr>
					<tr>
						<td colspan="3">■コースの説明をここに記載する◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆</td>
					</tr>

				</table><!-- tacoupon -->
			</div><!-- coupon-date -->
			    <div class="coupon-btn">
				    <div class="coupon-btn-inner">
                         <a href="#" class="btn btn-info">メニューを追加して予約</a>
                    </div><!-- coupon-btn-inner -->
			</div><!-- coupon-button -->
		</div><!-- coupon-inner -->

		<div class="coupon-inner" >
			<div class="coupon-date">
				<table class="tacoupon" >
										<tr>
						<th class="category" colspan="3">
							<span>カット</span><span>顔剃り</span><span>シャンプー・ブロー</span>
                        </th>
					</tr>
					<tr>
						<th class="iconth">
							<div class="icon">
								<p class="blue">
									再来								</p>
							</div><!-- icon -->
						</th>
						<th>ヘアカット シルバーコース(60歳以上の方)　カット、顔剃り、シャンプー、ブロー込み(約60分) </th>
						<th class="mone">
							&yen;2,750
						</th>
					</tr>
					<tr>
						<td colspan="3">■コースの説明をここに記載する◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆</td>
					</tr>

				</table><!-- tacoupon -->
			</div><!-- coupon-date -->
			    <div class="coupon-btn">
				    <div class="coupon-btn-inner">
                         <a href="#" class="btn btn-info">メニューを追加して予約</a>
                    </div><!-- coupon-btn-inner -->
			</div><!-- coupon-button -->
		</div><!-- coupon-inner -->

		<div class="coupon-inner" >
			<div class="coupon-date">
				<table class="tacoupon" >
										<tr>
						<th class="category" colspan="3">
							<span>カット</span><span>カラー</span><span>エステ・パック</span><span>顔剃り</span><span>シャンプー・ブロー</span>
                        </th>
					</tr>
					<tr>
						<th class="iconth">
							<div class="icon">
								<p class="blue">
									再来								</p>
							</div><!-- icon -->
						</th>
						<th>ヘアカラー カラーコース【エステ・パック付き】 カット、カラー、エステ・パック、顔剃り、シャンプー、ブロー込み（約120分） </th>
						<th class="mone">
							&yen;7,150
						</th>
					</tr>
					<tr>
						<td colspan="3">■コースの説明をここに記載する◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆</td>
					</tr>

				</table><!-- tacoupon -->
			</div><!-- coupon-date -->
			    <div class="coupon-btn">
				    <div class="coupon-btn-inner">
                         <a href="#" class="btn btn-info">メニューを追加して予約</a>
                    </div><!-- coupon-btn-inner -->
			</div><!-- coupon-button -->
		</div><!-- coupon-inner -->

		<div class="coupon-inner" >
			<div class="coupon-date">
				<table class="tacoupon" >
										<tr>
						<th class="category" colspan="3">
							<span>カット</span><span>パーマ</span><span>エステ・パック</span><span>顔剃り</span><span>シャンプー・ブロー</span>
                        </th>
					</tr>
					<tr>
						<th class="iconth">
							<div class="icon">
								<p class="blue">
									再来								</p>
							</div><!-- icon -->
						</th>
						<th>パーマ パーマコース【エステ・パック付き】 カット、パーマ、エステ・パック、顔剃り、シャンプー、ブロー込み（約150分） </th>
						<th class="mone">
							&yen;8,800
						</th>
					</tr>
					<tr>
						<td colspan="3">■コースの説明をここに記載する◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆</td>
					</tr>

				</table><!-- tacoupon -->
			</div><!-- coupon-date -->
			    <div class="coupon-btn">
				    <div class="coupon-btn-inner">
                         <a href="#" class="btn btn-info">このメニューにで予約</a>
                    </div><!-- coupon-btn-inner -->
			</div><!-- coupon-button -->
		</div><!-- coupon-inner -->

		<div class="coupon-inner" >
			<div class="coupon-date">
				<table class="tacoupon" >
										<tr>
						<th class="category" colspan="3">
							<span>カラー</span>
                        </th>
					</tr>
					<tr>
						<th class="iconth">
							<div class="icon">
								<p class="blue">
									再来								</p>
							</div><!-- icon -->
						</th>
						<th>ヘアカラー カラーのみ （約120分） </th>
						<th class="mone">
							&yen;3,300
						</th>
					</tr>
					<tr>
						<td colspan="3">■コースの説明をここに記載する◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆</td>
					</tr>

				</table><!-- tacoupon -->
			</div><!-- coupon-date -->
			    <div class="coupon-btn">
				    <div class="coupon-btn-inner">
                         <a href="#" class="btn btn-info">このメニューにで予約</a>
                    </div><!-- coupon-btn-inner -->
			</div><!-- coupon-button -->
		</div><!-- coupon-inner -->

        		<div class="coupon-inner" >
			<div class="coupon-date">
				<table class="tacoupon" >
										<tr>
						<th class="category" colspan="3">
							<span>シャンプー・ブロー</span>
                        </th>
					</tr>
					<tr>
						<th class="iconth">
							<div class="icon">
								<p class="blue">
									再来								</p>
							</div><!-- icon -->
						</th>
						<th>シャンプー・ブロー （約30分） </th>
						<th class="mone">
							&yen;1,100
						</th>
					</tr>
					<tr>
						<td colspan="3">■コースの説明をここに記載する◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆</td>
					</tr>

				</table><!-- tacoupon -->
			</div><!-- coupon-date -->
			    <div class="coupon-btn">
				    <div class="coupon-btn-inner">
                         <a href="#" class="btn btn-info" >このメニューにで予約</a>
                    </div><!-- coupon-btn-inner -->
			</div><!-- coupon-button -->
		</div><!-- coupon-inner -->

        		<div class="coupon-inner" >
			<div class="coupon-date">
				<table class="tacoupon" >
										<tr>
						<th class="category" colspan="3">
							<span>エステ・パック</span><span>顔剃り</span>
                        </th>
					</tr>
					<tr>
						<th class="iconth">
							<div class="icon">
								<p class="blue">
									再来								</p>
							</div><!-- icon -->
						</th>
						<th>レディースシェービング【エステ・パック付き】 （約60分） </th>
						<th class="mone">
							&yen;2,860
						</th>
					</tr>
					<tr>
						<td colspan="3">■コースの説明をここに記載する◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆◆</td>
					</tr>

				</table><!-- tacoupon -->
			</div><!-- coupon-date -->
			    <div class="coupon-btn">
				    <div class="coupon-btn-inner">
                         <a href="#" class="btn btn-info">このメニューにで予約</a>
                    </div><!-- coupon-btn-inner -->
			</div><!-- coupon-button -->
		</div><!-- coupon-inner -->

</div>
<%#ここまでメニューコンテナー%>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <button type="button" class="btn btn-info btn-lg">予約</button>
    <br>  
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>  <br>
    <br>
    <br>
    <br>
    <br>
    <h6>お知らせ</h6>
  <div>
    <p id="news">お店からのお知らせを掲載</p>
    
  </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>








 <div id="footer_main">
        <p>&copy; 20xx ○○ xxxxxxxxxxxx.</p>
</div>
</div>