<div class="col-lg-6 offset-md-2"><br><br><br><br><br><br>
  <div class="form-group">
    <%= form_for(@reservation, url:create_reserves_path ) do |f| %>
    <%= f.label :reservation_block, "予約希望時間" %><br><br>
    <%= f.collection_select(:reservation_block, @time_blocks, :id, :block) %>
    <%= f.submit '予約',class:"btn-secondary" %>
    <% end %><br><br><br><br><br>
  </div>
</div>