<div class="col-lg-6 offset-md-2 pd-150">
  <div class="form-group">

    <%= form_for @reservation, url: step3_reserves_path, method: :get do |f| %>

    メニュー選択
    <%= f.label :plan_id, "プラン選択" %><br><br>
    <%= f.collection_select :plan_id, Plan.all, :id, :order, :prompt => "メニューを選択" %><br><br>

    <%= f.submit 'Step3へ',class:"btn-secondary" %>
    <% end %><br><br><br><br><br>
  </div>
</div>