<br><br><br>

<div class ="col-lg-6 offset-md-2">

<h1>お客様情報</h1>

<h6>いつもご利用ありがとうございます。</h6>

<div class="form-group">

  <p class = "form-control">名前: <%= @user.name %></p>
  <p class = "form-control">メールアドレス: <%= @user.mail %></p>
  <p class = "form-control">電話番号: <%= @user.contact %></p>
</div>
必要な情報を表示

<br><br><br><br><br><br><br><br><br>
<p>予約の案内</p>
<p>これまでのご利用履歴を表示する</p>



<p>ここに履歴を表示させる</p>
</div>