/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

html {
    width: 100%;
    background-color: #e8e6e6;
    color: #000000;
}


.container-fluid {
    width: 100%;
    padding: 0;
    margin: auto;
}

.header_table {
    width: 100%;
}

.body-page {
    background-color: #e8e6e6;
    width: 100%;
}

body {
    font-family: Verdana, "ＭＳ Ｐゴシック", sans-serif;
    font-size: 80%;
}

.dropdown-item{
    color: #000000;
    background-color: #6a6a6a;
}

/* マウスオーバー時 */
.dropdown-item:hover{
    color: #e8e6e6;
    background-color: #6a6a6a;
}

.navbar-toggler {
    border-color: #e8e6e6;
    background-color: #6a6a6a;

}


.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

ハンバーガー //googleマップの大きさを上書き変更

iframe {
    border: none;
    width: auto;
    height: auto;
}


.pd-150 {
    padding-top: 150px;
}

.pd-100 {
    padding-top: 100px;
}

.pd-80 {
    padding-top: 80px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

.global-navi {
    width: 100%;
}


#global-navi {
    z-index: 9999;
    position: fixed;
    display: flex;
    justify-self: end;
    text-align: center;
    background: rgba($color: #000, $alpha: 0.7);
    position: fixed;
    top: 0;
    right: 0px;
    width: 100%;
}

#global-navi ul {
    overflow: hidden;
    margin: 0 auto;
    padding: 0 3%;
    width: 94%;
    max-width: 960px;
}

#global-navi ul li {
    position: relative;
    float: left;
    width: 10%;
    list-style: none;
}

#global-navi ul li a {
    display: block;
    padding: 17px 5%;
    width: 90%;
    color: #fff;
    text-align: center;
    text-decoration: none;
}


#global-navi ul li a:hover {
    color: rgba($color: #000, $alpha: 0.7);
    background-color: #c7c7c7;
    border-color: #868686;
    box-shadow: 0 0 10px#c7c7c7, 0 0 40px #c7c7c7, 0 0 80px #c7c7c7;
    transition-delay: 0.1s;
}

.main-container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.mein-imag {
    margin-left: auto;
    margin-right: auto;
}

.part-img {
    // background-image: url("boy01.jpg");
    /* 画像のURLを指定       */
    background-repeat: no-repeat;
    /* 画像の繰り返しを指定  */
    background-position: 0 0;
    /* 画像の表示位置を指定  */
    background-size: cover;
    /* 画像のサイズを指定    */
    width: 100%;
    /* 横幅のサイズを指定    */
    height: 700px;
    /* 縦幅のサイズを指定    */
    background-position: left top;
    background-position: center;
    background-image: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 1) 100%),
        url("boy01.jpg");
}

.example {
    /*親div*/
    position: relative;
    /*相対配置*/
}

.example p {
    position: absolute;
    /*絶対配置*/
    color: rgba($color: rgb(255, 255, 255), $alpha: 0.4);
    /*文字は白に*/
    font-family: 'Kaushan Script', cursive;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 60px;
    position: center;
    bottom: 0%;
}

.example img {
    width: 100%;
}

.content {
    line-height: 1.6;
    margin: 0 auto;
    padding-top: 100px;
    width: 800px;
}

.content p {
    margin-bottom: 40px;
}

a:visited {
    color: #c7c7c7;
}

.btn-secondary {
    color: #c7c7c7;
    background-color: rgba($color: #000, $alpha: 0.7);
    border-color: #868686;
}

.btn-secondary:hover {
    color: rgba($color: #000, $alpha: 0.7);
    background-color: #c7c7c7;
    border-color: #868686;
}


a:visited:hover {
    color: rgba($color: rgb(250, 250, 250), $alpha: 0.8);
}


//新型コロナウイルス感染防止
.infomation-covid19 {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    background-color: #fff;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.infomation-covid19-comment {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    background-color: #fff;
}

.infomation-covid19 h6 {
    font-weight: bold;
}

.infomation-covid19-text p {
    margin: 0.5em 0px;
}

.admin-menu {
    background-color: #fff;
}


.holidayText {
    color: #ff0000;
}

.calendarBox {
    float: left;
    /* インラインブロック要素にする */
    background-color: rgb(255, 255, 255);
    /* 背景色指定 */
    // padding: 50px;    /* 余白指定 */
    // height: 400px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.calendar-month {
    // float: left;    /* インラインブロック要素にする */
    background-color: rgb(255, 255, 255);
    /* 背景色指
    // padding: 50px;    /* 余白指定 */
    // height: 400px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;

    h3 {
        margin-left: 0;
        margin-right: 0;
    }
}

.form-group {
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}

.form-info {
    margin-left: 5%;
}



.bg-color {
    background-color: #fff;
    width: 100%;
}



.image_container {
    display: flex;
    flex-direction: row;
    justify-content: top;
    align-items: flex-start;
    width: auto;
}

.mce-content-body {

    text-align: justify;
    text-justify: inter-ideograph;
    -ms-text-justify: inter-ideograph;
}


.about_me {
    font-family: 'Kaushan Script', cursive;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    // background-color: #fff;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.about_me_image {
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
}

.about_me_table {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    // background-color: #fff;
}

.about_me_table p {
    font-family: 'Sawarabi Mincho', sans-serif;
}

.about_me p {
    margin: 1px 0px;
    font-family: 'Sawarabi Mincho', sans-serif;

}

.abaout_me_map {
    margin: 30px;
    width: auto;
}

.business_time {
    width: 100%;
    margin: 0px;
    background-color: #fff;
    padding-top: 1em;
    padding-bottom: 1em;
}

.order-table {
    // padding: 10px;
    width: 100%;
    // margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5em;
    padding-bottom: 1em;
}

.table-bordered {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 10px;
}


.table-bordered th,
.table-bordered td {
    border: 1px solid #b3b6b9;
    padding: 10px;
}

.table-bordered th {
    text-align: center;
    color: #000;
}

.table-bordered td {
    text-align: center;
    color: #000;
}

.clear_text {
    color: initial;
    font-size: initial;
    text-shadow: initial;
}

.menu-title {
    text-align: center;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

.menu-table {
    position: relative;
    bottom: 30px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0px auto;
}


.menu-table h2 {
    background-color: #e8e6e6;
    padding: 0;
}


.news-title {
    text-align: center;
    padding: 40px;
}

.news-table {
    padding: 10px;
    position: relative;
    bottom: 30px;
    background-color: rgb(255, 255, 255);
}

.information-menu {
    background-color: rgb(255, 255, 255);
}

.image_container img {
    padding: 10px;
}

.news-table {
    background-color: rgb(255, 255, 255);
    height: 200px;
    // padding: 10px;
}

.news-title {
    text-align: center;
}

.our-news {
    position: relative;
    bottom: 30px;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.our-news h6 {
    padding-top: 10px;
    padding-left: 10px;
}

.our-news p {
    padding-left: 30px;
}

#global-footer-navi {
    width: 100%;
    right: 0px;
    text-align: center;
    background: rgba($color: #000, $alpha: 0.7);
    height: 100px;
}

#global-footer-navi p {
    color: #c7c7c7;
}

.our-news h2 {
    background-color: #e8e6e6;
}

.resevationBtn {
    clear: both;
    margin: 30px auto;
    top: 100px;
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
}


.resevationBtn btn {
    position: center;
}

.resevationBtn h3 {
    text-align: center;
}


.our-news {
    position: relative;
    // margin: 30px;
    bottom: 30px;
    background-color: rgb(255, 255, 255);
}

#global-footer-navi p {
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
}

.footer_table {
    width: 100%;
}

.login-form {
    position: center;
}

.alert-message {
    background-color: #e8e6e6;
    color: red;
    font-size: 26px;
}




/*========= ナビゲーションドロップダウンのためのCSS ===============*/

/*==ナビゲーション全体の設定*/
nav {
    background: rgba($color: #000, $alpha: 0.7);
    color: rgba($color: rgb(29, 29, 29), $alpha: 0.7);
    text-align: center;
}

/*ナビゲーションを横並びに*/
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

/*2階層目以降は横並びにしない*/
nav ul ul {
    display: block;
}

/*下の階層のulや矢印の基点にするためliにrelativeを指定*/
nav ul li {
    position: relative;
}

/*ナビゲーションのリンク設定*/
nav ul li a {
    display: block;
    text-decoration: none;
    color: #999;
    padding: 20px 35px;
    transition: all .3s;
}

nav ul li li a {
    padding: 10px 35px;
}

nav ul li a:hover {
    color: rgba($color: rgb(29, 29, 29), $alpha: 0.7);
}

/*==矢印の設定*/

/*2階層目を持つliの矢印の設定*/
nav ul li.has-child::before {
    content: '';
    position: absolute;
    left: 15px;
    top: 25px;
    width: 6px;
    height: 6px;
    border-top: 2px solid #999;
    border-right: 2px solid #999;
    transform: rotate(135deg);
}

/*3階層目を持つliの矢印の設定*/
nav ul ul li.has-child::before {
    content: '';
    position: absolute;
    left: 6px;
    top: 17px;
    width: 6px;
    height: 6px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}

/*== 2・3階層目の共通設定 */

/*下の階層を持っているulの指定*/
nav li.has-child ul {
    /*絶対配置で位置を指定*/
    position: absolute;
    left: 0;
    top: 62px;
    z-index: 4;
    /*形状を指定*/
    background: #c7c7c7;
    width: 180px;
    /*はじめは非表示*/
    visibility: hidden;
    opacity: 0;
    /*アニメーション設定*/
    transition: all .3s;
}

/*hoverしたら表示*/
nav li.has-child:hover>ul,
nav li.has-child ul li:hover>ul,
nav li.has-child:active>ul,
nav li.has-child ul li:active>ul {
    visibility: visible;
    opacity: 1;
}

/*ナビゲーションaタグの形状*/
nav li.has-child ul li a {
    color: #fff;
    border-bottom: solid 1px rgba(255, 255, 255, 0.6);
}

nav li.has-child ul li:last-child a {
    border-bottom: none;
}

nav li.has-child ul li a:hover,
nav li.has-child ul li a:active {
    background: #c7c7c7;
    color: black;
}


/*==3階層目*/

/*3階層目の位置*/
nav li.has-child ul ul {
    top: 0;
    left: 182px;
    background: #c7c7c7;
}

nav li.has-child ul ul li a:hover,
nav li.has-child ul ul li a:active {
    background: #c7c7c7;
}


/*==768px以下の形状*/

@media screen and (max-width:768px) {
    nav {
        padding: 0;
    }

    nav ul {
        display: block;
    }

    nav li.has-child ul,
    nav li.has-child ul ul {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        visibility: visible;
        /*JSで制御するため一旦表示*/
        opacity: 1;
        /*JSで制御するため一旦表示*/
        display: none;
        /*JSのslidetoggleで表示させるため非表示に*/
        transition: none;
        /*JSで制御するためCSSのアニメーションを切る*/
    }

    nav ul li a {
        border-bottom: 1px solid #ccc;
    }

    /*矢印の位置と向き*/

    nav ul li.has-child::before {
        left: 20px;
    }

    nav ul ul li.has-child::before {
        transform: rotate(135deg);
        left: 20px;
    }

    nav ul li.has-child.active::before {
        transform: rotate(-45deg);
    }

}


/*========= レイアウトのためのCSS ===============*/

h1 {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}

h2 {
    font-size: 1.2rem;
    text-align: center;
    margin: 0 0 30px 0;
}

p {
    margin-top: 20px;
}

small {
    background: #333;
    color: #fff;
    display: block;
    text-align: center;
    padding: 20px;
}


section {
    padding: 30px;
}

section:nth-child(2n) {
    background: #f3f3f3;
}