/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

html {
    width: 100%;
    background-color: #e8e6e6;
    color: #000000;
}

.pd-150 {
    padding-top: 150px;
}

.pd-100 {
    padding-top: 100px;
}

.pd-80 {
    padding-top: 80px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}


#global-navi {
    z-index: 9999;
    position: fixed;
    display: flex;
    justify-self: end;
    text-align: center;
    background: rgba($color: #000, $alpha: 0.7);
    position: fixed;
    top: 0;
    right: 0px;
    width: 100%;
}

#global-navi ul {
    overflow: hidden;
    margin: 0 auto;
    padding: 0 3%;
    width: 94%;
    max-width: 960px;
}

#global-navi ul li {
    position: relative;
    float: left;
    width: 10%;
    list-style: none;
}

#global-navi ul li a {
    display: block;
    padding: 17px 5%;
    width: 90%;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

#global-navi ul li a:hover {
    color: rgba($color: #000, $alpha: 0.7);
    background-color: #c7c7c7;
    border-color: #868686;
    box-shadow: 0 0 10px#c7c7c7, 0 0 40px #c7c7c7, 0 0 80px #c7c7c7;
    transition-delay: 0.1s;
}

.main-container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.mein-imag {
    margin-left: auto;
    margin-right: auto;
}

.part-img {
    // background-image: url("boy01.jpg");
    /* 画像のURLを指定       */
    background-repeat: no-repeat;
    /* 画像の繰り返しを指定  */
    background-position: 0 0;
    /* 画像の表示位置を指定  */
    background-size: cover;
    /* 画像のサイズを指定    */
    width: 100%;
    /* 横幅のサイズを指定    */
    height: 700px;
    /* 縦幅のサイズを指定    */
    background-position: left top;
    background-position: center;
    background-image: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 1) 100%), url("boy01.jpg");
}

.example {
    /*親div*/
    position: relative;
    /*相対配置*/
}

.example p {
    position: absolute;
    /*絶対配置*/
    color: rgba($color: rgb(255, 255, 255), $alpha: 0.4);
    /*文字は白に*/
    bottom: 0;
    left: 0;
    font-family: 'Kaushan Script', cursive;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 60px;
    position: center;
}

.example img {
    width: 100%;
}

.body-page {
    background-color: #e8e6e6;
}

body {
    font-family: Verdana, "ＭＳ Ｐゴシック", sans-serif;
    font-size: 80%;
}

.content {
    line-height: 1.6;
    margin: 0 auto;
    padding-top: 100px;
    width: 800px;
}

.content p {
    margin-bottom: 40px;
}

a:visited {
    color: #c7c7c7;
}

.btn-secondary {
    color: #c7c7c7;
    background-color: rgba($color: #000, $alpha: 0.7);
    border-color: #868686;
}

.btn-secondary:hover {
    color: rgba($color: #000, $alpha: 0.7);
    background-color: #c7c7c7;
    border-color: #868686;
}


a:visited:hover {
    color: rgba($color: rgb(250, 250, 250), $alpha: 0.8);
}

.infomation-covid19 {
    text-align: center;
    margin: 0 auto;
    background-color: #fff;
}

.infomation-covid19 h6 {
    font-weight: bold;
}

.admin-menu {
    background-color: #fff;
}


.holidayText {
    color: #ff0000;
}

.calendarBox {
    float: left;
    /* インラインブロック要素にする */
    background-color: rgb(255, 255, 255);
    /* 背景色指定 */
    padding: 50px;
    /* 余白指定 */
    height: 400px;
}

.calendar-month {
    float: left;
    /* インラインブロック要素にする */
    background-color: rgb(255, 255, 255);
    /* 背景色指定 */
    padding: 50px;
    /* 余白指定 */
    height: 400px;
}



.resevationBtn {
    clear: both;
}

.form-group {
    font-size: 20px;
}

.bg-color {
    background-color: #fff;
}

.about_me {
    font-family: 'Kaushan Script', cursive;
}


.image_container {
    display: flex;
    flex-direction: row;
    justify-content: top;
    align-items: flex-start;
    width: 800px;
}

.infomation-covid19-text p {
    margin: 0.5em 0px;
}

.mce-content-body {

    text-align: justify;
    text-justify: inter-ideograph;
    -ms-text-justify: inter-ideograph;
}

.about_me {
    margin: 30px;
}

.about_me_table p {
    font-family: 'Sawarabi Mincho', sans-serif;
}

.about_me p {
    margin: 1px 0px;
    font-family: 'Sawarabi Mincho', sans-serif;

}

.abaout_me_map {
    margin: 30px;
}

.business_time {
    margin: 30px;
}

.order-table {
    padding: 10px;
    position: center;
}

.table-bordered {
    background-color: #fff;
    padding: 10px;
}


.table-bordered th,
.table-bordered td {
    border: 1px solid #b3b6b9;
    padding: 10px;
}

.table-bordered th {
    text-align: center;
    color: #000;
}

.table-bordered td {
    text-align: center;
    color: #000;
}

.clear_text {
    color: initial;
    font-size: initial;
    text-shadow: initial;
}

.menu-title {
    text-align: center;
}

.menu-table {
    position: relative;
    bottom: 30px;
    background-color: rgb(255, 255, 255);
}

.information-menu {
    background-color: rgb(255, 255, 255);
}

.image_container img {
    padding: 10px;
}

.news-table {
    background-color: rgb(255, 255, 255);
    height: 200px;
    padding: 10px;
}

.news-title {
    text-align: center;
}


.our-news h6 {
    padding-top: 10px;
    padding-left: 10px;
}

.our-news p {
    padding-left: 30px;
}

#global-footer-navi {
    width: 100%;
    right: 0px;
    text-align: center;
    background: rgba($color: #000, $alpha: 0.7);
    height: 100px;
}

#global-footer-navi p {
    color: #c7c7c7;
}

.menu-table {
    margin: 30px;
}

.menu-table h2 {
    background-color: #e8e6e6;
}

.resevationBtn {
    margin: 200px;
    position: relative;
    top: 100px;
}

.resevationBtn btn {
    position: center;
}

.resevationBtn h3 {
    text-align: center;
}


.our-news {
    margin: 30px;
}

#global-footer-navi p {
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
}

.footer_table {
    width: 100%;
}

.login-form {
    padding-left: 100px;
}