/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";





/* -------------------- header -------------------- */
#header {
    width: 100%;
    height: 20px;
    position: fixed;
    // background:rgba(227, 249, 249, 0.5);
    color: white;
    top:0;
    margin:0;
    padding:4px;
    background-color:rgba(227, 249, 249, 0.5);
    z-index:9999;
    height:50px;
}


#header ul li {
    display: inline-block;
}

/* -------------------- main-container -------------------- */
.main-container {
    background-repeat:no-repeat;//繰り返しなし
    padding:px 300px 0px 5px 20px;
    background-image: url("top3.jpeg");
    background-size: contain;//縦横比がそのままで要素の大きさに
    background-position: 5px 80px;
    
}

/* -------------------- info_image -------------------- */
.info_image {
    max-width: 50%;
    min-height: 50%;
}

